## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [3]:
# Your code here - remember to use markdown cells for comments as well!

import os

import pandas as pd
import numpy as np

# Read CSV file to Pandas DataFrame

In [5]:
# Step 1: get the path to the dataframe

Aviation_data = pd.read_csv('data/Aviation_Data.csv', header=0)

Aviation_data.head()

C:\Users\x1 carbon\AppData\Local\Temp\ipykernel_38620\1952344942.py:3: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  Aviation_data = pd.read_csv('data/Aviation_Data.csv', header=0)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

## Brief description of the data

In [6]:
Aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

## Column Names

In [7]:
Aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

# Check for duplicated rows

In [8]:
Aviation_data.duplicated().any()

np.True_

### Number of duplicated rows

In [9]:
Aviation_data.duplicated().sum()

np.int64(1390)

### Drop the duplicates

In [10]:
Aviation_data.drop_duplicates(keep='first', inplace=True)

### Proof there are no more duplicates

In [11]:
Aviation_data.duplicated().any()

np.False_

### Check for duplicates in unique entries

In [12]:
Aviation_data.duplicated(subset='Event.Id').any()

np.True_

In [13]:
Aviation_data.duplicated(subset='Event.Id').sum()

np.int64(1006)

In [14]:
# % of duplicates in the column
np.round(Aviation_data.duplicated(subset='Event.Id').sum() / len(Aviation_data), 3)

np.float64(0.011)

In [15]:
# get the index of rows with duplicate registration_no
duplicated_indices = Aviation_data[Aviation_data['Event.Id'].duplicated(keep=False)].index

In [16]:
# filter the data
filtered_Aviation_data = Aviation_data.loc[duplicated_indices]
filtered_Aviation_data.shape

(1943, 31)

In [39]:
#Take a sample
filtered_Aviation_data.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
117,20020917X01908,Accident,DCA82AA012B,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,Personal,NaN,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983
118,20020917X01908,Accident,DCA82AA012A,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,Executive/corporate,NaN,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983
153,20020917X02259,Accident,LAX82FA049A,1982-01-23,"VICTORVILLE, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,4.0,0.0,VMC,Unknown,Probable Cause,23-01-1983
158,20020917X02400,Accident,MIA82FA038B,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Cruise,Probable Cause,23-01-1983
159,20020917X02400,Accident,MIA82FA038A,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Approach,Probable Cause,23-01-1983

In [17]:
Aviation_data.duplicated(subset='Accident.Number').any()

np.True_

In [18]:
Aviation_data.duplicated(subset='Accident.Number').sum()

np.int64(94)

In [19]:
# % of duplicates in the column
np.round(Aviation_data.duplicated(subset='Accident.Number').sum() / len(Aviation_data), 3)

np.float64(0.001)

In [20]:
# get the index of rows with duplicate registration_no
duplicated_indices = Aviation_data[Aviation_data['Accident.Number'].duplicated(keep=False)].index

In [21]:
# filter the data
filtered_Aviation_data2 = Aviation_data.loc[duplicated_indices]
filtered_Aviation_data2.shape

(121, 31)

In [47]:
#Take a sample
filtered_Aviation_data2

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
64030,NaN,25-09-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69843,NaN,14-06-2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74420,NaN,03-11-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74946,NaN,24-02-2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75894,NaN,02-02-2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90255,20221121106336,Accident,WPR23LA041,2022-11-18,"Las Vegas, NV",United States,361239N,1151140W,VGT,NORTH LAS VEGAS,...,Instructional,702 HELICOPTER INC,0.0,0.0,0.0,3.0,VMC,NaN,NaN,07-12-2022
90256,20221122106340,Incident,DCA23WA071,2022-11-18,"Marrakech,",Morocco,NaN,NaN,NaN,NaN,...,NaN,British Airways,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90257,20221122106340,Incident,DCA23WA071,2022-11-18,"Marrakech,",Morocco,NaN,NaN,NaN,NaN,...,NaN,Valair Private Jets,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90272,20221123106354,Accident,WPR23LA045,2022-11-22,"San Diego, CA",United States,323414N,1165825W,SDM,Brown Field Municipal Airport,...,Instructional,HeliStream Inc.,0.0,0.0,0.0,4.0,VMC,NaN,NaN,22-12-2022
90273,20221123106354,Accident,WPR23LA045,2022-11-22,"San Diego, CA",United States,323414N,1165825W,SDM,Brown Field Municipal Airport,...,Public Aircraft - Federal,U.S. Navy,0.0,0.0,0.0,4.0,VMC,NaN,NaN,22-12-2022

# Check for missing values

In [23]:
Aviation_data.isnull().any()

Event.Id                   True
Investigation.Type        False
Accident.Number            True
Event.Date                 True
Location                   True
Country                    True
Latitude                   True
Longitude                  True
Airport.Code               True
Airport.Name               True
Injury.Severity            True
Aircraft.damage            True
Aircraft.Category          True
Registration.Number        True
Make                       True
Model                      True
Amateur.Built              True
Number.of.Engines          True
Engine.Type                True
FAR.Description            True
Schedule                   True
Purpose.of.flight          True
Air.carrier                True
Total.Fatal.Injuries       True
Total.Serious.Injuries     True
Total.Minor.Injuries       True
Total.Uninjured            True
Weather.Condition          True
Broad.phase.of.flight      True
Report.Status              True
Publication.Date           True
dtype: bool

### Count of missing values

In [29]:
missing = Aviation_data.isnull().sum()

missing.sort_values(ascending=False)

Schedule                  76376
Air.carrier               72310
FAR.Description           56935
Aircraft.Category         56671
Longitude                 54585
Latitude                  54576
Airport.Code              38826
Airport.Name              36254
Broad.phase.of.flight     27234
Publication.Date          15299
Total.Serious.Injuries    12579
Total.Minor.Injuries      12002
Total.Fatal.Injuries      11470
Engine.Type                7165
Report.Status              6453
Purpose.of.flight          6261
Number.of.Engines          6153
Total.Uninjured            5981
Weather.Condition          4561
Aircraft.damage            3263
Registration.Number        1451
Injury.Severity            1069
Country                     295
Amateur.Built               171
Model                       161
Make                        132
Location                    121
Event.Date                   69
Event.Id                     69
Accident.Number              69
Investigation.Type            0
dtype: int64

### The percentage of the missing data

In [30]:
percentage_missing = np.round(((Aviation_data.isnull().sum() / len(Aviation_data)) * 100), 2)

percentage_missing. sort_values(ascending=False)

Schedule                  85.86
Air.carrier               81.29
FAR.Description           64.00
Aircraft.Category         63.71
Longitude                 61.36
Latitude                  61.35
Airport.Code              43.65
Airport.Name              40.75
Broad.phase.of.flight     30.61
Publication.Date          17.20
Total.Serious.Injuries    14.14
Total.Minor.Injuries      13.49
Total.Fatal.Injuries      12.89
Engine.Type                8.05
Report.Status              7.25
Purpose.of.flight          7.04
Number.of.Engines          6.92
Total.Uninjured            6.72
Weather.Condition          5.13
Aircraft.damage            3.67
Registration.Number        1.63
Injury.Severity            1.20
Country                    0.33
Amateur.Built              0.19
Model                      0.18
Make                       0.15
Location                   0.14
Event.Date                 0.08
Event.Id                   0.08
Accident.Number            0.08
Investigation.Type         0.00
dtype: float64

### Store the series data in a dataframe

In [ ]:
miss_aviation_data = pd.DataFrame({
    "Count": missing.values,
    "%": percentage_missing.values
} , index = missing.index)

# drop values where count is 0
miss_aviation_data.drop(miss_aviation_data[miss_aviation_data['Count'] == 0].index, inplace=True)

# sort values in descending order
miss_aviation_data.sort_values(by='Count', ascending=False, inplace=True)


miss_aviation_data

                        Count      %
Schedule                76376  85.86
Air.carrier             72310  81.29
FAR.Description         56935  64.00
Aircraft.Category       56671  63.71
Longitude               54585  61.36
Latitude                54576  61.35
Airport.Code            38826  43.65
Airport.Name            36254  40.75
Broad.phase.of.flight   27234  30.61
Publication.Date        15299  17.20
Total.Serious.Injuries  12579  14.14
Total.Minor.Injuries    12002  13.49
Total.Fatal.Injuries    11470  12.89
Engine.Type              7165   8.05
Report.Status            6453   7.25
Purpose.of.flight        6261   7.04
Number.of.Engines        6153   6.92
Total.Uninjured          5981   6.72
Weather.Condition        4561   5.13
Aircraft.damage          3263   3.67
Registration.Number      1451   1.63
Injury.Severity          1069   1.20
Country                   295   0.33
Amateur.Built             171   0.19
Model                     161   0.18
Make                      132   0.15
Location                  121   0.14
Accident.Number            69   0.08
Event.Date                 69   0.08
Event.Id                   69   0.08